server {
        listen   80;

        root {{ wordpress_core_path }};
        index index.php index.html index.htm;

        server_name *.{{ wordpress_core_url }} {{ wordpress_core_url }};

        location / {
                try_files $uri $uri/ /index.php?q=$uri&$args;
        }

        error_page 404 /404.html;

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
              root {{ wordpress_core_path }};
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        location ~ \.php$ { 
            root {{ wordpress_core_path }}; 
            # fastcgi_pass 127.0.0.1:9000; 
            fastcgi_pass unix:/var/run/php5-fpm.sock;
            fastcgi_index index.php; 
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name; 
            # must have newer nginx version (1.2 works) to use HTTPS for PHP $_SERVER['HTTPS']: 
            fastcgi_param HTTPS $https; 
            # original: fastcgi_param SCRIPT_FILENAME /scripts$fastcgi_script_name; 
            include fastcgi_params; 
        }
}